body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
ol, ul {
    list-style: none;
}
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.main {
    position: relative;
}
.content-wrapper {
    position: fixed;
    overflow-y: auto; 
    left: 60px;
    top:80px;
    width: 324px;
/*    margin-left: 50px;
*/  height: 100%;
    background-color: #f6f4f9;
    -webkit-transition: left 0.5s linear;
}
.content {
    position:absolute;
    display: inline-block;
    width:324px;
    margin-right:auto;
    color: #9f92b1;
    background-color: #f6f4f9;
    height: 100%;
}
/* ----------- HEADER -----------------*/
header {
    position: fixed;
	width: 100%;
	height: 80px;
	background-color: #312b3a;
    z-index: 9999;
}
.container {
	width: 78%;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-header {
	display: inline;
}
.nav-brand {
}
.job-ufo-logo {
	padding-top: 20px;
    content: url(img/job-ufo-logo.png);
}
.right-panel {
	float: right;
}
.user-panel {
	position: relative;
	float: right;
}
.user-name {
    line-height: 80px;
    height: 80px;
    vertical-align: middle;
    background: #312b3a;
    float: left;
}
.user-name h2{
    font-size: 14px;
    line-height: 80px;
    font-family: 'Open Sans',sans-serif;
    vertical-align: middle;
    color: #9f92b1;
}
.user-avatar {
    line-height: 80px;
    height: 80px;
    float: left;
    vertical-align: middle;
    background: #312b3a;
}
.user-avatar .avatar {
    line-height: 100px;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    vertical-align: middle;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: calc(50% - 20px);
}
.user-avatar .avatar img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.user-menu-button {
    line-height: 100%;
    float: left;
    height: 80px;
    vertical-align: middle;
    background: #312b3a;
}
.user-menu-button i {
    line-height: 80px;
    margin: 0 10px;
    color: #9f92b1;
}
/* -------------- END HEADER -------------- */

/* -------------- SIDEBAR ---------------- */
.sidebar-wrapper {
    position: fixed;
    display: inline-block;
    clear: both;
    left:0;
    top: 80px;
    height:100%;
    width:60px;
    background: #40384c;;
    font-family:sans-serif;
    color:#fff;
    -webkit-transition: width 0.5s linear;
    overflow-y: auto; 
}
.sidebar {
    position: absolute;
    display: inline-block;
    clear: both;
    left:0;
    top: 0;
    margin-bottom: 80px;
    width:200px;
    background: #40384c;;
    font-family:sans-serif;
    color:#fff;
    -webkit-transition: width 0.5s linear;
    overflow:hidden;
}
.sidebar h2 {
    padding-left:7px;
}
.sidebar ul {
    list-style:none;
    padding:0;
    margin:0;
}
.sidebar ul li:nth-child(2) a {
    background-color: #f2415f;
}
.sidebar ul li:nth-child(2) a {
    color: #fff;
}
.sidebar ul li {
    font-size: 14px;
    line-height: 18px;
}
.sidebar a.selected {
    color: #fff !important;
    background-color: #312b3a;
}
.sidebar a {
    font-family: 'Gotham Rounded', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 23px;
    text-decoration: none;
    text-transform: uppercase;
    color: #685b7c;
    white-space: nowrap;
    cursor: pointer;
}
.sidebar span.leader {
    opacity:1;
    padding-right: 15px;
    font-weight:bold;
}
.sidebar span.detail{
    font-family: 'Gotham Rounded', sans-serif;
    font-size: 14px;
    font-weight: 400;
    opacity: 0; 
    -webkit-transition: opacity 0.5s ease-out;
}
.sidebar .fa {
    font-size: 20px;
    line-height: 22px;
    vertical-align: middle;
}
.navExpanded .sidebar-wrapper {
    width:200px;
}
.navExpanded .sidebar-wrapper span.detail {
    opacity: 1;
}
.navExpanded .content-wrapper {
    left:200px;
}
.navExpanded .job-detail-wrapper {
    left:524px;
}
/* ------------ END SIDEBAR ------------- */

/* ------------ TABS JOBS LIST-------------------- */
.content .ReactTabs.react-tabs {
  max-height: 50px;
  padding-bottom: 11px;
}
.content .ReactTabs__TabList {
  list-style: none;
  padding: 0;
  margin: 0;
  border:0;
  display: inline-block;
}
.content .ReactTabs__Tab {
  display: flex;
  float: left;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 21px 11px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #9f92b1;
  cursor: pointer;
  border: 0;
}
.content .ReactTabs__Tab:not(.ReactTabs__Tab--selected):hover {
  color: #3498db;
}
.content .react-tabs [role=tab][aria-selected=true] {
  border-bottom: 3px solid #08b39c;
  color: #08b39c;
  background: transparent;
}
/* ------------ END TABS JOBS LIST---------------- */
/* ------------ FILTER DROPDOWN --------- */
.filter-dropdown {
    padding: 0 26px;
    background-color: #e4e2e7;
}
.reset-filter {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    display: block;
    height: 20px;
    padding: 15px 0 20px 0;
    text-align: center;
    color: #f2415f;
}
.reset-x {
    opacity: 1;
    position: relative;
    float: right;
    width: 20px;
    height: 20px;
    background-color: #f2415f;
    background-image: url("img/close.png");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
    clear: both;
    overflow: hidden;
    -webkit-transition: opacity 1.0s ease-out;
    transition: opacity 1.0s ease-out;
    -moz-transition: opacity 1.0s ease-out;
}
.filter-field {
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: 270px;
    margin-bottom: 20px;
    padding: 8px 0;
    color: #9f92b1;
    border: none;
    border-bottom: 1px solid #cdc6d5;
    background-color: #e4e2e7;
    background-image: url('img/arrow-down.png');
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
    -webkit-transition: opacity 1.0s ease-out;
    transition: opacity 1.0s ease-out;
    -moz-transition: opacity 1.0s ease-out;
}

.filter-dropdown a {
    display: block;
    text-decoration: none;
    color: #f2415f;
    line-height: 55px;
    cursor: pointer;
}

.divCollapsed .filter.collapsed {
    height: 0;
}
.filter {
    display: block;
    padding: 0 26px;
    height: 217px;
    background-color: #e4e2e7;
    overflow: hidden;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}
.rotate {
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    transition: all .5s linear;
}
.up {
    transform: rotate(180deg);
}
.filter-dropdown i {
    float: right;
    display: inline-block;
    font-size: 30px;
    line-height: 55px;
}
.filter-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.opened{
    display: block;
}
h2.jobs-counter {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #9f92b1;
    border-bottom: 1px solid #ebe9ee;
}
h2 b {
    font-weight: 600;
}

/* ------------ END FILTER FROPDOWN ----- */
/* ------------ JOBS CONTAINER ---------- */
.jobs-container-wrapper {
    position: absolute;
    width: 324px;
    overflow-y: auto;
    height: 100%;
}
.jobs-container {
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}
.jobs-container .react-list-select{
    list-style: none;
    padding-bottom: 80px;
}
.jobs-container .react-list-select--item {
    position: relative;
    display: block;
    padding: 18px 25px;
    border-bottom: 1px solid #ebe9ee;
    cursor: pointer;
}
.jobs-container .react-list-select--item.is-selected {
    color: #fff;
    background-color: #08b39c;    
}
.jobs-container .react-list-select--item.is-selected h2 {
    color: #fff;
}
h2.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    width: 220px;
    position: relative;
    color: #6a5d7e;
}
h2.company {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #796a8f;
}
h2.location {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-top: 7px;
    color: #9f92b1;
}
.job-detail-wrapper {
    position: fixed;
    background-color: #fff;
    width: 100%;
    left: 384px;
    top: 80px;
    height: 100%;
    overflow-y: auto;
    -webkit-transition: left 0.5s linear;
}
.job-detail {
    padding: 50px;
    position: relative;
    overflow-y: auto;
    height: 100%;
}
.job-detail h1.title {
    font-family: 'Gotham Rounded', sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #08b39c;
}
.job-detail .stats{
    padding: 10px 0px;
}
.job-detail .stats .salary {
    background-color: #32d2e8;
    background-image: url(img/salary_white.png);
}
.job-detail .stats .time {
    background-color: #fecf2e;
    background-image: url(img/cloack.png);
}
.job-detail .stats div {
    display: inline-block;
    padding: 5px 25px;
    padding-left: 30px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: 8px 50%;
    background-color: #2cb39c;
    background-image: url(img/Benefit_white.png);
    background-size: 13px;
    border-radius: 200px;
    color: white;
    font-size: 12px;
}
.active-icon, 
.message-content-header .scheduled-icon, 
.message-content-header .closed-icon {
    margin: 5px 0;

}
.job-detail .active-icon {
    font-size: 30px;
    float: left;
    margin: 5px 0;
    padding-left: 2px;
    -webkit-transition: all 120ms ease-out 0s;
    -moz-transition: all 120ms ease-out 0s;
    transition: all 120ms ease-out 0s;
    transition-timing-function: ease-out;
    color: #08b39c;
}
.job-detail h2.status {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-left: 35px;
    -webkit-transition: all 120ms ease-out 0s;
    -moz-transition: all 120ms ease-out 0s;
    transition: all 120ms ease-out 0s;
    transition-timing-function: ease-out;
    color: #9f92b1;
}
/* ------------ END JOB CONTAINER ------- */
/* ------------ TABS JOB DETAIL --------- */
.job-messages {
    padding-top: 10px;
    overflow-y: auto;
    position: absolute;
    height: 100%;
    width: 100%;
}
.job-messages .ReactTabs.react-tabs {
  padding-bottom: 90px;
  position: absolute;
  display: block;
  min-width: 660px;
}
.job-messages .ReactTabs__TabList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: inline-block;
  border-top: 1px solid #f6f4f9;
  border-bottom: 1px solid #f6f4f9;
}
.job-messages .ReactTabs__Tab {
    display: block;
    float: left;
    width: 120px;
    padding: 10px 0;
    transition: all 120ms ease-out 0s;
    transition-timing-function: ease-out;
    text-align: center;
    color: #9f92b1;
    border:0;
}
.job-messages .ReactTabs__Tab h3 {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    -webkit-transition: all 120ms ease-out 0s;
    -moz-transition: all 120ms ease-out 0s;
    transition: all 120ms ease-out 0s;
    transition-timing-function: ease-out;
    text-transform: uppercase;
}
.job-messages .ReactTabs__Tab h2 {
    font-size: 20px;
    line-height: 30px;
    position: relative;
}
.job-messages .ReactTabs__Tab:not(.ReactTabs__Tab--selected):hover {
    color: #08b39c;
}
.job-messages .react-tabs [role=tab][aria-selected=true] {
  border-bottom: 2px solid #08b39c;
  color: #08b39c;
  background: transparent;
}
.applicant-message {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 220px;
    height: 220px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 25px;
}
.applicant-message video {
    height: 100%;
}
/* ------------ END TABS JOB DETAIL --------- */

