@font-face {
    font-family: Gotham Rounded; 
    src: url('fonts/Gotham-Rounded-Medium.eot');
    src: url('fonts/Gotham-Rounded-Medium.eot?') format('eot'),
    url('fonts/Gotham-Rounded-Medium.woff') format('woff'),
    url('fonts/Gotham-Rounded-Medium.woff2') format('woff2'),
    url('fonts/Gotham-Rounded-Medium.ttf') format('truetype'),
    url('fonts/Gotham-Rounded-Medium.svg') format('svg');
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    outline: none;
    box-sizing: border-box;
}
ol, ul {
    list-style: none;
}
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}
input[type='text'].half, select.half {
    width: 290px !important;
}
.align-center {
    text-align: center;
}
.clear {
    clear: both;
    overflow: hidden;
    height: 1px;
}
.main {
    position: relative;
}
.content-wrapper {
    position: fixed;
    overflow-y: auto; 
    left: 60px;
    top: 80px;
    width: 324px;
/*    margin-left: 50px;
*/  height: 100%;
    background-color: #f6f4f9;
    -webkit-transition: left 0.5s linear;
}
.content {
    position:absolute;
    display: inline-block;
    width:324px;
    margin-right:auto;
    color: #9f92b1;
    background-color: #f6f4f9;
    height: 100%;
}
.button {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 18px 65px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 40px;
    background-color: #fff;
}
.button-pop-red {
    color: #fff;
    background-color: #f2415f;
}
.label
{
    font-size: 14px;

    display: inherit;

    width: 100%;
    margin-top: 20px;

    color: #9f92b1;
}
.label:first-child
{
    margin-top: 0;
}
.label-big
{
    font-size: 18px;

    display: inherit;

    width: 100%;
    margin-top: 20px;

    color: #9f92b1;
}
label.label-error
{
    margin-top: 10px;

    color: #f2415f;
}
.label-for-check
{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 400;

    color: #9f92b1;
}
textarea {
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    padding: 18px;
    resize: none;
    color: #6a5d7e;
    border: none;
    border-radius: 5px;
    background: #f6f4f9;
}
input[type='text'], 
input[type='email'], 
input[type='password'], 
select {
    font-size: 18px;
    width: 600px;
    margin: 0;
    padding: 5px 0 12px 0;
    color: #433b50;
    border: none;
    border-bottom: 1px solid #cdc6d5;
    background: none;
}
.overlay
{
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    -webkit-transition: opacity .5s ease-in-out;
       -moz-transition: opacity .5s ease-in-out;
            transition: opacity .5s ease-in-out;

    opacity: 0;
    border-radius: 10px;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
}
.overlay:hover
{
    opacity: 1;
}
.half.right
{
    margin-left: 20px;
}
.half
{
    display: inline-block;

    width: 290px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #9f92b1;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #9f92b1;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #9f92b1;
}
:-moz-placeholder { /* Firefox 18- */
    color: #9f92b1;
}
/* ----------- HEADER -----------------*/
header {
    position: fixed;
	width: 100%;
	height: 80px;
	background-color: #312b3a;
    z-index: 3;
}
.right-panel-avatar {
    float: right;
    margin-right: 50px;
}
.container {
	width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-header {
	display: inline;
}
.job-ufo-logo {
	padding-top: 20px;
    content: url('img/job-ufo-logo.png');
}
.user-panel {
	position: relative;
	float: right;
}
.user-name {
    display: inline-block;
    line-height: 80px;
    height: 80px;
    vertical-align: middle;
    background: transparent;
    float: left;
}
.user-name h2{
    font-size: 14px;
    line-height: 80px;
    font-family: 'Open Sans',sans-serif;
    vertical-align: middle;
    color: #9f92b1;
    padding-right: 10px;
}
.user-avatar {
    display: inline-block;
    vertical-align: middle;
    padding-top: 20px;
    float: left;

}
.user-menu-button {
    line-height: 100%;
    float: left;
    height: 80px;
    vertical-align: middle;
    background: #312b3a;
}
.user-menu-button i {
    line-height: 80px;
    margin: 0 10px;
    color: #9f92b1;
    cursor: pointer;
}
/* ----------- RIGHT PANEL DROPDOWN -------- */
.user-menu-button li {
    font-size: 16px;
    font-weight: 400;
    padding: 6px 0;
    cursor: pointer;
    color: #6a5d7e;
}
.user-menu-button a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #6a5d7e;
}
.user-menu-button a:hover {
    color: #f2415f;
}
.dd-items-right {
    position: absolute;
    right: 22px;
    border: 1px solid #b8b8b8;
    border-radius: 10px;
    padding: 12px 25px;
    margin-top: 20px;
    padding: 12px 25px;
    width: 210px;
    background-color: #fff;
}
.dd-items-right:before {
    content:"";
    position: absolute;
    right: 53px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
    z-index:9999;
}
.dd-items-right:after {
    content: "";
    position: absolute;
    right: 52px;
    top: -11px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 11px 11px 11px;
    border-color: transparent transparent #b8b8b8 transparent;
    z-index: 9998;
}
/* ----------- END RIGHT PANEL DROPDOWN ---- */
/* -------------- END HEADER -------------- */

/* -------------- SIDEBAR ---------------- */
.sidebar-wrapper {
    position: fixed;
    display: inline-block;
    clear: both;
    left:0;
    top: 80px;
    height:100%;
    width:60px;
    background: #40384c;;
    font-family:sans-serif;
    color:#fff;
    -webkit-transition: width 0.5s linear;
    overflow-y: auto; 
}
.sidebar {
    position: absolute;
    display: inline-block;
    clear: both;
    left:0;
    top: 0;
    margin-bottom: 80px;
    width:200px;
    background: #40384c;;
    font-family:sans-serif;
    color:#fff;
    -webkit-transition: width 0.5s linear;
    overflow:hidden;
}
.sidebar h2 {
    padding-left:7px;
}
.sidebar ul {
    list-style:none;
    padding:0;
    margin:0;
}
.sidebar ul li:nth-child(2) a {
    background-color: #f2415f;
}
.sidebar ul li:nth-child(2) a {
    color: #fff;
}
.sidebar ul li {
    font-size: 14px;
    line-height: 18px;
}
.sidebar a.selected {
    color: #fff !important;
    background-color: #312b3a;
}
.sidebar a {
    font-family: 'Gotham Rounded', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 23px;
    text-decoration: none;
    text-transform: uppercase;
    color: #685b7c;
    white-space: nowrap;
    cursor: pointer;
}
.sidebar span.leader {
    opacity:1;
    padding-right: 15px;
    font-weight:bold;
}
.sidebar span.detail{
    font-family: 'Gotham Rounded', sans-serif;
    font-size: 14px;
    font-weight: 400;
    opacity: 0; 
    -webkit-transition: opacity 0.5s ease-out;
}
.sidebar .fa {
    font-size: 20px;
    line-height: 22px;
    vertical-align: middle;
}
.navExpanded .sidebar-wrapper {
    width:200px;
}
.navExpanded .sidebar-wrapper span.detail {
    opacity: 1;
}
.navExpanded .content-wrapper {
    left:200px;
}
.navExpanded .job-detail-wrapper {
    left:524px;
}
/* ------------ END SIDEBAR ------------- */

/* ------------ TABS JOBS LIST-------------------- */
.content .ReactTabs.react-tabs {
  max-height: 50px;
  padding-bottom: 11px;
}
.content .ReactTabs__TabList {
  list-style: none;
  padding: 0;
  margin: 0;
  border:0;
  display: inline-block;
}
.content .ReactTabs__Tab {
  display: flex;
  float: left;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 21px 11px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #9f92b1;
  cursor: pointer;
  border: 0;
}
.content .ReactTabs__Tab:not(.ReactTabs__Tab--selected):hover {
  color: #3498db;
}
.content .react-tabs [role=tab][aria-selected=true] {
  border-bottom: 3px solid #08b39c;
  color: #08b39c;
  background: transparent;
}
/* ------------ END TABS JOBS LIST---------------- */
/* ------------ FILTER DROPDOWN --------- */
.filter-dropdown {
    padding: 0 26px;
    background-color: #e4e2e7;
}
.reset-filter {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    display: block;
    height: 20px;
    padding: 15px 0 20px 0;
    text-align: center;
    color: #f2415f;
}
.reset-x {
    opacity: 1;
    position: relative;
    float: right;
    width: 20px;
    height: 20px;
    background-color: #f2415f;
    background-image: url("img/close.png");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
    clear: both;
    overflow: hidden;
    -webkit-transition: opacity 1.0s ease-out;
    transition: opacity 1.0s ease-out;
    -moz-transition: opacity 1.0s ease-out;
}
.filter-field {
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: 270px;
    margin-bottom: 20px;
    padding: 8px 0;
    color: #9f92b1;
    border: none;
    border-bottom: 1px solid #cdc6d5;
    background-color: #e4e2e7;
    background-image: url('img/arrow-down.png');
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
    -webkit-transition: opacity 1.0s ease-out;
    transition: opacity 1.0s ease-out;
    -moz-transition: opacity 1.0s ease-out;
}

.filter-dropdown a {
    display: block;
    text-decoration: none;
    color: #f2415f;
    line-height: 55px;
    cursor: pointer;
}

.divCollapsed .filter.collapsed {
    height: 0;
}
.filter {
    display: block;
    padding: 0 26px;
    height: 217px;
    background-color: #e4e2e7;
    overflow: hidden;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}
.rotate {
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    transition: all .5s linear;
}
.up {
    transform: rotate(180deg);
}
.filter-dropdown i {
    float: right;
    display: inline-block;
    font-size: 30px;
    line-height: 55px;
}
.filter-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.opened{
    display: block;
}
h2.jobs-counter {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #9f92b1;
    border-bottom: 1px solid #ebe9ee;
}
h2 b {
    font-weight: 600;
}

/* ------------ END FILTER FROPDOWN ----- */
/* ------------ JOBS CONTAINER ---------- */
.jobs-container-wrapper {
    position: absolute;
    width: 324px;
    overflow-y: auto;
    height: 100%;
}
.jobs-container {
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}
.jobs-container .react-list-select{
    list-style: none;
    padding-bottom: 80px;
}
.jobs-container .react-list-select--item {
    position: relative;
    display: block;
    padding: 18px 25px;
    border-bottom: 1px solid #ebe9ee;
    cursor: pointer;
}
.jobs-container .react-list-select--item.is-selected {
    color: #fff;
    background-color: #08b39c;    
}
.jobs-container .react-list-select--item.is-selected h2 {
    color: #fff;
}
h2.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    width: 220px;
    position: relative;
    color: #6a5d7e;
}
h2.company {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #796a8f;
}
h2.location {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-top: 7px;
    color: #9f92b1;
}
.job-detail-wrapper {
    position: fixed;
    background-color: #fff;
    width: calc(100% - 524px);
    left: 384px;
    top: 80px;
    height: 100%;
    overflow-y: auto;
/*    overflow-x: auto;
*/    -webkit-transition: left 0.5s linear;
}
.job-detail {
    padding: 30px;
    padding-right: 0;
    position: relative;
    overflow-y: auto;
    overflow-x: auto;
    height: 100%;
}
.job-detail h1.title {
    font-family: 'Gotham Rounded', sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #08b39c;
}
.job-detail .stats{
    padding: 10px 0px;
}
.job-detail .stats .salary {
    background-color: #32d2e8;
    background-image: url('img/salary_white.png');
}
.job-detail .stats .time {
    background-color: #fecf2e;
    background-image: url('img/cloack.png');
}
.job-detail .stats div {
    display: inline-block;
    padding: 5px 25px;
    padding-left: 30px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: 8px 50%;
    background-size: 13px;
    border-radius: 200px;
    color: white;
    font-size: 12px;
}
.job-detail .stats .benefits {
    background-color: #2cb39c;
    background-image: url('img/Benefit_white.png');
}
.active-icon, 
.message-content-header .scheduled-icon, 
.message-content-header .closed-icon {
    margin: 5px 0;

}
.job-detail .active-icon {
    font-size: 30px;
    float: left;
    margin: 5px 0;
    padding-left: 2px;
    -webkit-transition: all 120ms ease-out 0s;
    -moz-transition: all 120ms ease-out 0s;
    transition: all 120ms ease-out 0s;
    transition-timing-function: ease-out;
    color: #08b39c;
}
.job-detail h2.status {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-left: 35px;
    -webkit-transition: all 120ms ease-out 0s;
    -moz-transition: all 120ms ease-out 0s;
    transition: all 120ms ease-out 0s;
    transition-timing-function: ease-out;
    color: #9f92b1;
}
.message-header-buttons {
    top: 30px;
}
.message-header-buttons {
    position: absolute;
    right: 10px;
    display: flex;
    -webkit-transition: all 120ms ease-out 0s;
    -moz-transition: all 120ms ease-out 0s;
    transition: all 120ms ease-out 0s;
    transition-timing-function: ease-out;
}
.message-header-buttons i.fa.fa-mobile {
    font-size: 22px;
    padding: 5px 11px;
}
.message-header-buttons i {
    cursor: pointer;
    font-size: 16px;
    margin-left: 16px;
    padding: 8px 9px;
    color: #fff;
    border-radius: 50%;
    background-color: #d1c7df;
}
.form-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #9f92b1;
    font-size: 14px;
    padding: 20px 0;
}
.uploaded_file {
    list-style: none;
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    height: 165px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.uploaded_file--overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    opacity: 0;
    opacity: 0;
    border-radius: 10px;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
}
.upload_file--buttons {
    font-size: 18px;
    line-height: 35px;
    position: absolute;
    top: 65px;
    left: 95px;
    color: #fff;
    border-radius: 20px;
    background: #f2415f;
    list-style: none;
}
.upload_file--buttons a {
    color: #fff;
}
.upload_file--button {
    cursor: pointer;
}
.uploaded_file:hover > .uploaded_file--overlay {
    opacity: 1;
}
/* ------------ END JOB CONTAINER ------- */
/* ------------ TABS JOB DETAIL --------- */
.job-messages {
    padding-top: 10px;
    overflow-y: auto;
    position: relative;
    height: 100%;
    width: 100%;
}
.job-messages .ReactTabs.react-tabs {
  padding-bottom: 90px;
  position: absolute;
  display: block;
  min-width: 660px;
}
.job-messages .ReactTabs__TabList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: inline-block;
  border-top: 1px solid #f6f4f9;
  border-bottom: 1px solid #f6f4f9;
}
.job-messages .ReactTabs__Tab {
    display: block;
    float: left;
    width: 120px;
    padding: 10px 0;
    transition: all 120ms ease-out 0s;
    transition-timing-function: ease-out;
    text-align: center;
    color: #9f92b1;
    border:0;
}
.job-messages .ReactTabs__Tab h3 {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    -webkit-transition: all 120ms ease-out 0s;
    -moz-transition: all 120ms ease-out 0s;
    transition: all 120ms ease-out 0s;
    transition-timing-function: ease-out;
    text-transform: uppercase;
}
.job-messages .ReactTabs__Tab h2 {
    font-size: 20px;
    line-height: 30px;
    position: relative;
}
.job-messages .ReactTabs__Tab:not(.ReactTabs__Tab--selected):hover {
    color: #08b39c;
}
.react-tabs [role=tab]:focus {
    outline: none;
    box-shadow: none;
}
.react-tabs [role=tab]:focus:after {
    background: none;
}
.job-messages .react-tabs [role=tab][aria-selected=true] {
  border-bottom: 2px solid #08b39c;
  color: #08b39c;
  background: transparent;
}
.applicant-message {
    position: relative;
    display: inline-block;
    overflow: visible;
    width: 220px;
    height: 285px;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 10px;
}
.applicant-message h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-left: 15px;
}
.applicant-message h2.name {
    font-size: 15px;
    padding-top: 10px;
    color: #6a5d7e;
}
.applicant-message h2.date {
    font-size: 14px;
    color: #9f92b1;
    float: left;
}
.applicant-message:hover {
    z-index: 1;
    -webkit-transition: all 120ms ease-out 0s;
    -moz-transition: all 120ms ease-out 0s;
    transition: all 120ms ease-out 0s;
    transition-timing-function: ease-out;
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
    box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
}
.applicant-message .applicant-info {
    height: 65px;
    background: #f6f4f9;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.applicant-message video {
    height: 220px;
    width: 220px;
    background: grey;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.applicant-message .video--paused .darker {
    background-color: #000;
    width: 100%;
    position: absolute;
    opacity: 0.5;
    top: 0;
    border-radius: inherit;
    height: 100%;
    transition: 1s linear;
    -webkit-transition: 1s linear;
    -moz-transition: 1s linear;
}
.applicant-message .video--playing .darker {
    opacity: 1;
    transition: 1s linear;
    -webkit-transition: 1s linear;
    -moz-transition: 1s linear;
}
.applicant-message .video-controls .video__controls {
    background: transparent;
    background-color: rgba(0,0,0,0.0);
}

.applicant-message .video {
    height: 220px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.applicant-message .video-button.play{
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -22px;
    font-size: 30px;
    border-radius: 15px;
    padding: 20px;
    background: url(img/play-button.png) no-repeat;
    box-sizing: border-box;
    background-size: 50px;
    z-index: 1;
}
.applicant-message:hover .video-button.stop{
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -22px;
    font-size: 30px;
    border-radius: 15px;
    padding: 20px;
    background: url(img/pause-button.png) no-repeat;
    box-sizing: border-box;
    background-size: 50px;
    z-index: 1;
}

.video--focused {
    outline: none;
    border: none;
}
.video--paused {
    background: grey;
}
.video-icon:before {
    font-family: "video-fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    /* font-size: 120%; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;

    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.applicant-dropdown {
    position: absolute;
    right: 9px;
    bottom: -7px;
}
.applicant-dropdown i{
    color: #9f92b1;
}
.applicant-dropdown .user-menu-button {
    background: none;
}
.applicant-dropdown .user-menu-button a {
    font-size: 14px;
}
.applicant-dropdown .dd-items-right {
    position: absolute;
    right: -34px;
    border: 1px solid #b8b8b8;
    border-radius: 10px;
    padding: 12px 25px;
    background: #fff;
    width: 140px;
}
.applicant-message:hover .applicant-dropdown .dd-items-right:hover  {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
/* ------------ END TABS JOB DETAIL --------- */
/* ------------ MODAL APPLICANT ------------- */
.modal-applicant-info,
.modal-applicant-video {
    width: 400px;
    height: 400px;
    float: left;
    background-color: #40384c;
}
.modal-applicant-video,
.modal-applicant-video .video,
.modal-applicant-video video {
    border-top-right-radius: 20px;
}
.modal-applicant-video video,
.modal-applicant-video .video {
    width: 400px;
    height: 400px;
}
.modal-applicant-video .video-button {
    top: 200px;
    left: 50%;
}
.dialog--jss-0-0 {
    padding: 0 !important;
    border-radius: 20px !important;
    overflow: hidden !important; 
    background: #40384c !important;
    box-shadow: 0 0 100px rgba(0,0,0,1) !important;
}
.modal-applicant-video:hover .video-button.stop{
    cursor: pointer;
    position: absolute;
    top: 200px;
    width: 50px;
    height: 50px;
    margin-top: -35px;
    font-size: 30px;
    border-radius: 15px;
    padding: 20px;
    background: url(img/pause-button.png) no-repeat;
    box-sizing: border-box;
    background-size: 50px;
    z-index: 1;
}
.modal-applicant-video:hover .video-button.play{
    cursor: pointer;
    position: absolute;
    top: 200px;
    width: 50px;
    height: 50px;
    margin-top: -35px;
    font-size: 30px;
    border-radius: 15px;
    padding: 20px;
    background: url(img/play-button.png) no-repeat;
    box-sizing: border-box;
    background-size: 50px;
    z-index: 1;
}
.modal-applicant-video .video--paused .darker {
    background-color: #000;
    width: 100%;
    position: absolute;
    opacity: 0.5;
    top: 0;
    border-radius: inherit;
    height: 100%;
    transition: 1s linear;
    -webkit-transition: 1s linear;
    -moz-transition: 1s linear;
}
.modal-applicant-video .video--playing .darker {
    opacity: 1;
    transition: 1s linear;
    -webkit-transition: 1s linear;
    -moz-transition: 1s linear;
}
.modal-applicant-info-wrapper {
    margin: 45px;
    padding: 0;
}
.modal-applicant-info a {
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    width: 140px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 40px;
}
.modal-applicant-info .accept {
    font-size: 12px;
    width: 140px;
    padding: 8px 0;
    color: #fff;
    border: 2px solid #f2415f;
    background-color: #f2415f;
}
.modal-applicant-info .accept:hover {
    color: #f2415f;
    background-color: #fff;
    border: 2px solid #fff;
}
.modal-applicant-info .reject {
    margin-left: 20px;
    color: #f2415f;
    border: 2px solid #f2415f;
}
.modal-applicant-info .reject:hover {
    color: #fff;
    border: 2px solid #fff;
}
.modal-applicant-info h1.title {
    color: #fff;
    font-size: 30px;
    font-family: 'Gotham Rounded', sans-serif;
}
.modal-applicant-info h2.location {
    font-size: 16px;
    margin-top: 5px;
    color: #9f92b1;
}
.modal-applicant-info .info-buttons {
    margin-top: 190px;
}
.modal-tabs-wrapper {
    background-color: #fff;
    padding: 78px 30px;
    padding-top: 10px;
    margin-top: 400px;
    min-height: 650px;
}
.modal-tabs-wrapper .react-tabs [role=tab] {
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #9f92b1;
}
.modal-tabs-wrapper .react-tabs [role=tab][aria-selected=true] {
    color: #08b39c;
    border-bottom: 3px solid #08b39c;
    font-size: 14px;
    padding: 12px 16px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.modal-tabs-wrapper .react-tabs [role=tablist] {
    border-bottom: 1px solid #ebe9ee;
}
.modal-applicant-profile {
    padding: 35px 20px;
    min-height: 150px;
}
.modal-applicant-profile .col {
    float: left;
    width: 320px;
    padding-bottom: 30px;
    color: #08b39c;
}
.modal-applicant-profile .col i {
    font-size: 20px;
    line-height: 38px;
    color: #fff;
}
.modal-applicant-profile .col h1 {
    font-size: 14px;
    line-height: 40px;
    font-family: 'Gotham Rounded';
    text-transform: uppercase;
}
.modal-applicant-profile .icon-green {
    float: left;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    text-align: center;
    border-radius: 40px;
    background-color: #08b39c;
}
.modal-applicant-profile .icon-red {
    float: left;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    text-align: center;
    border-radius: 40px;
    background-color: #f2415f;
}
.modal-applicant-profile .col:first-child {
    color: #08b39c;
}
.modal-applicant-profile .col:last-child {
    color: #f2415f;
}
.modal-applicant-profile .description-list-wrapper {
    list-style-type: disc;
}
.modal-applicant-profile h2.period {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 5px 0;
    color: #6a5d7e;
}
.modal-applicant-profile .line-wrapper.line-first {
    height: 35px;
}
.modal-applicant-profile .line-wrapper {
    margin-left: 14px;
    position: relative;
    margin-bottom: 10px;
    padding-left: 26px;
}
.modal-applicant-profile .line {
    position: absolute;
    left: 0;
    height: 100%;
    margin-right: 20px;
    border: 3px solid #e4e2e7;
    border-radius: 5px;
}
.modal-applicant-profile .point {
    float: left;
    width: 12px;
    height: 12px;
    margin-top: 4px;
    margin-right: 18px;
    margin-left: 11px;
    border-radius: 10px;
}

.modal-applicant-profile .point.point-green {
    background-color: #08b39c;
}
.modal-applicant-profile .point.point-red {
    background-color: #f2415f;
}
.modal-applicant-profile-more .more_info_wrapper {
    padding: 0 15px;
}
.modal-applicant-profile-more li.more_info_wrapper-item {
    padding: 30px 0;
    border-bottom: 1px solid #f0ecf4;
}
.modal-applicant-profile-more .more_info_wrapper-item h2.title {
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    padding-bottom: 10px;
    color: #6a5d7e;
    font-weight: 700;
}
.modal-applicant-profile-more li.location-list-item {
    font-size: 13px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    padding: 2px 0;
    color: #6a5d7e;
}
.modal-applicant-profile-more span.more-info-point {
    font-size: 13px;
    padding: 3px 10px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    margin-right: 10px;
    color: #fff;
    border-radius: 20px;
    background: #796a8f;
}
.modal-applicant-profile-more li.more_info_wrapper-item:last-child {
    border-bottom: none;
}
.modal-applicant-profile-more li.availability-list-item {
    float: left;
    margin-right: 20px;
}
.modal-applicant-profile-more h2.day {
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
    color: #d1c7df;
}
/* ------------ END MODAL APPLICANT --------- */
/* ------------ MY ACCOUNT ------------------ */
.container-account .post-job-content-header {
    padding-top: 110px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f6f4f9;
}
.container-account .post-job-content-header.align-center {
    text-align: center;
}
.container-account .post-job-content-header h1.title {
    font-size: 28px;
    line-height: 28px;
    font-family: 'Gotham Rounded', sans-serif;
    font-weight: 400;
}
.container-account .form-wrapper {
    width: 600px;
    margin: 0 auto;
}
.container-account div#profileAvatar-wrapper {
    position: relative;
    width: 100px;
    margin: 0 auto;
}
.container-account #profileAvatar img {
    width: 100px;
    height: 100px;
}
.container-account label.imageUpload div:first-child {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    background: #f2415f;
}
.container-account label.imageUpload i.fa.fa-camera {
    font-size: 20px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    color: #fff;
}
.container-account input.imageUpload {
    display: none;
}
.container-account div.half {
    display: inline-block;
    width: 290px;
}
.container-account div.half.right {
    margin-left: 15px;
}
.container-account .label {
    font-size: 14px;
    display: inherit;
    width: 100%;
    margin-top: 20px;
    color: #9f92b1;
}
.container-account .buttons {
    margin-top: 45px;
    padding: 45px 0;
    border-top: 1px solid #f6f4f9;
}
.container-account form .button-cv-transperent {
    float: right;
    margin-left: 20px;
    color: #f2415f;
    border: 2px solid #f2415f;
}
.container-account form .button-cv-transperent:hover {
    color: #fff;
    border: 2px solid #f2415f;
    background-color: #f2415f;
}
.container-account form .button-cv {
    width: 170px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    cursor: pointer;
}
.container-account form#profile-settings-form {
    padding-top: 25px;
}
.container-account .inner-content {
    /* Initially we don't want any height, and we want the contents to be hidden */
    max-height: 0;
    overflow: hidden;

    /* Set our transitions up. */
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
}
.container-account .inner-content.expanded {
    /* On hover, set the max-height to something large. In this case there's an obvious limit. */
    max-height: 200px;
}
.container-account a#profileChangePasswordButton {
    margin-top: 20px;
}
/* ------------ END MY ACCOUNT -------------- */
/*----------------- COMPANY --------------------*/
.company-wrapper {
    position: absolute; 
    top: 80px;
    width: calc(100% - 200px);
    left: 200px;
    height: auto;
    overflow-y: auto;
}
#width_overflow {
    width: 100%;
    overflow: hidden;
}
#addNewSubsidiary {
    font-size: 16px;
    float: right;
    margin: 15px 0;
    cursor: pointer;
    outline: none;
}
.post-job-content-header
{
    padding-top: 50px;
    padding-bottom: 30px;

    border-bottom: 1px solid #f6f4f9;
}
.post-job-content-header h1.title
{
    color: #6a5d7e;
}
.post-job-content-header h2.subtitle
{
    font-size: 16px;
    font-weight: 300;

    margin-top: 15px;
    margin-bottom: 0;

    color: #9f92b1;
}
#subsidiary-wrapper h1.top-title {
    float: left;
}
h1.top-title
{
    font-size: 24px;

    margin: 20px 0;

    color: #6a5d7e;
}
.company-subsidiary-wrapper
{
    width: 860px;
    margin: 0 auto;
}
.button-cv {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 40px;
}
.button-cv-full-red {
    color: #fff;
    border: 2px solid #f2415f;
    background-color: #f2415f;
}
.button-cv-full-red:hover {
    color: #f2415f;
    border: 2px solid #f2415f;
    background-color: #fff;
}
input.button-cv.button-cv-full-red.green {
    background-color: #08b39c;
    border-color: #08b39c;
    color: #fff;
    -webkit-transition: background-color 500ms ease-out .5s, border-color 500ms ease-out .5s, color 500ms ease-out .5s;
    -moz-transition: background-color 500ms ease-out .5s, border-color 500ms ease-out .5s, color 500ms ease-out .5s;
    -o-transition: background-color 500ms ease-out .5s, border-color 500ms ease-out .5s, color 500ms ease-out .5s;
    transition: background-color 500ms ease-out .5s, border-color 500ms ease-out .5s, color 500ms ease-out .5s;
}
a.button-cv.button-cv-full-red.green {
    background-color: #08b39c;
    border-color: #08b39c;
    color: #fff;
    -webkit-transition: background-color 500ms ease-out .5s, border-color 500ms ease-out .5s, color 500ms ease-out .5s;
    -moz-transition: background-color 500ms ease-out .5s, border-color 500ms ease-out .5s, color 500ms ease-out .5s;
    -o-transition: background-color 500ms ease-out .5s, border-color 500ms ease-out .5s, color 500ms ease-out .5s;
    transition: background-color 500ms ease-out .5s, border-color 500ms ease-out .5s, color 500ms ease-out .5s;
}
.company-subsidiary li.react-list-select--item
{
    position: relative;

    display: flex;

    width: 800px;
    margin-bottom: 30px;
    padding: 30px;

    border-radius: 20px;
    background: #e4e2e7;
}
.company-subsidiary-item-logo
{
    float: left;
    width: 190px;
}
.company-subsidiary-item-logo img
{
    float: left;
    width: 190px;
    border-radius: 5px;
}
.company-subsidiary-item-content
{
    display: inline-block;
    margin-left: 3px;
}
h1.company-subsidiary-title
{
    font-size: 20px;
    font-weight: 600;

    color: #6a5d7e;
}
ul.company-subsidiary-item-list
{
    display: block;

    margin-top: 30px;
}
li.company-subsidiary-item-list-item
{
    float: left;

    margin-right: 50px;
}
h2.company-subsidiary-item-list-item
{
    font-size: 15px;
    font-weight: 400;

    color: #6a5d7e;
}
h3.company-subsidiary-item-list-item-desc,
h3.company-subsidiary-item-list-item-desc a
{
    font-size: 14px;
    font-weight: 300;

    margin-top: 3px;

    text-decoration: none;

    color: #6a5d7e;
}
ul.company-subsidiary-social-media
{
    display: flex;
}
li.company-subsidiary-social-media-item
{
    float: left;

    margin-right: 15px;
}
.company-subsidiary-edit-panel
{
    position: absolute;
    top: 30px;
    right: 30px;

    display: none;
}
.company-edit-panel-edit,
.company-subsidiary-edit-panel-edit
{
    margin-right: 10px;
}
.company-subsidiary-edit-panel img
{
    cursor: pointer;
}
li.company-subsidiary-item:hover > .company-subsidiary-edit-panel
{
    display: block;
}
div#subsidiary-wrapper
{
    margin-top: 70px;
}
.form-wrapper
{
    width: 600px;
    margin: 0 auto;
}
#profile-subsidiary-form div.half
{
    margin-top: 20px;
}
span.green {
    font-family: 'Gotham Rounded', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #08b39c;
}
.company-subsidiary .react-list-select--item:hover .company-subsidiary-edit-panel {
    display: block;
}
.profile-company-form div#profile-logo-preview {
    position: relative;
    display: block;
    float: left;
    width: 190px;
    height: 109px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 190px;
}
.profile-company-form .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    opacity: 0;
    border-radius: 10px;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
}
.profile-company-form .overlay:hover {
    opacity: 1;
}
.profile-logo-preview-buttons {
    font-size: 18px;
    line-height: 35px;
    position: absolute;
    top: 36px;
    left: 55px;
    color: #fff;
    border-radius: 20px;
    background: #f2415f;
}
.profile-logo-preview-button {
    float: left;
    padding: 0 15px;
    cursor: pointer;
}
.profile-logo-preview-button:hover {
    cursor: pointer;
    color: #000;
}
.profile-logo-preview-button.editor label {
    cursor: pointer;
}
.profile-logo-preview-button:first-child {
    padding-right: 10px;
}
.profile-logo-preview-button:last-child {
    padding-left: 10px;
}
label#profile-upload-button {
    font-size: 25px;
    line-height: 105px;
    float: left;
    width: 186px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    cursor: pointer;
    text-align: center;
    color: #f2415f;
    border: 2px dashed #ddd6e8;
    border-radius: 5px;
    background: #f6f4f9;
    background: #f6f4f9;
}
input#profileCompanyLogo {
    display: none;
}
.profileSocialMedia-item i.fa {
    font-size: 18px;
    line-height: 77px;
    padding: 0 5px;
    cursor: pointer;
    color: #9f92b1;
}
#profile-company-form .profileSocialMedia-item input[type='text'] {
    cursor: pointer;
    line-height: 77px;
    margin: 0 25px;
    padding: 0;
    border: none;
}
#profile-company-form .profileSocialMedia-item input[type='text']:focus {
    cursor: text;
}
.profileSocialMedia-item {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #dad5e0;
}
.profileSocialMedia-item .icon-wrapper img {
    height: 36px;
    margin: 20px 0 16px;
}
.float-left {
    float: left;
}
.buttons {
    margin-top: 45px;
    padding: 45px 0;
    border-top: 1px solid #f6f4f9;
}
form .button-cv {
    cursor: pointer;
    width: 170px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}
form .button-cv-transperent {
    float: right;
    margin-left: 20px;
    background: #fff;
    color: #f2415f;
    border: 2px solid #f2415f;
}
form .button-cv-transperent:hover {
    color: #fff;
    background: #f2415f;
}
div#subsidiaryVideo-preview {
    position: relative;
    display: block;
    float: left;
    width: 190px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 190px;
}
input#subsidiaryVideo {
    display: none;
}
label#subsidiaryVideo-label {
    font-size: 25px;
    line-height: 105px;
    display: block;
    float: left;
    width: 186px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    cursor: pointer;
    text-align: center;
    color: #f2415f;
    border: 2px dashed #ddd6e8;
    border-radius: 5px;
    background: #f6f4f9;
    background: #f6f4f9;
}
#subsidiaryFile {
    display: none;
}
#inviteManagerButton.green, 
#addManagerButton.green {
    background-color: #08b39c;
}
#inviteManagerButton.green {
    display: none;
}
#inviteManagerButton, #addManagerButton {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 46px;
    display: inline-block;
    margin-top: 20px;
    padding: 0 40px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 40px;
}
.manager-item {
    position: relative;
}
a.manager-delete {
    position: absolute;
    right: 0;
    bottom: 13px;
    color: #000;
}
.manager-item .half {
    margin-top: 20px;
    width: 290px;
}
#profile-subsidiary-form div.half {
    width: 290px;
}
#profile-subsidiary-form input.half.right {
    margin: 0;
}
#profile-subsidiary-form input.bootstrap-typeahead-input-main {
    width: 290px;
}
/*-----------------END COMPANY-------------------*/

/*-----------------------JOB POST-----------------------*/
.job-post-content
{
    padding: 0;
}
.post-job-content-header
{
    padding-top: 50px;
    padding-bottom: 30px;

    border-bottom: 1px solid #f6f4f9;
}
.post-job-content-header h1.title
{
    color: #6a5d7e;
}
.post-job-content-header h2.subtitle
{
    font-size: 16px;
    font-weight: 300;

    margin-top: 15px;
    margin-bottom: 0;

    color: #9f92b1;
}
form#job-post-form
{
    padding-top: 25px;
}
#job-post-form .clear
{
    display: inline-block;
    clear: both;
    overflow: hidden;

    width: 100%;
    height: 1px;
}
.form-wrapper
{
    width: 600px;
    margin: 0 auto;
}
#post_job .JobType {
    position: relative;
}
#post_job .JobType .label {
    font-size: 50px;
    font-size: 18px;
    font-family: "Open Sans";
    margin-bottom: 20px;
}
#post_job .JobType input {
    display: none;
}
#post_job .JobType .box {
    background-color: #f6f4f9;
    background-image: url("img/jobtype_circle.png");
    background-repeat: no-repeat;
    background-position: 20px 20px;
    padding: 20px;
    width: 285px;
    font-size: 14px;
    font-family: "Open Sans";
    box-sizing: border-box;
    padding-left: 75px;
    border-radius: 6px;
    color: #9f92b1;
    display: inline-block;
    cursor: pointer;
    position: relative;
}
#post_job .JobType .box:hover {background-color: #f1eef5;}
#post_job .JobType #topjob {margin-left: 25px;}
#post_job .JobType .box.selected {
    background-image: url("img/jobtype_circle_selected.png");
}
#post_job .JobType .box b {
    font-family: "Gotham Rounded";
    font-size: 22px;
    display: block;
    text-transform: uppercase;
    color: #6a5d7e;
}
#post_job .JobType .box span {
    font-weight: 600;
    color: #6a5d7e;
}

#post_job .JobType .box img {
    position: absolute;
    top: 0px;
    right: 20px;
}
#post_job .JobType .box i {
    position: absolute;
    bottom: 10px;
    right: 12px;
    color: #9f92b1;
    font-size: 22px;
}

#post_job .JobType .box i:hover + .JobTypeHelp {display: block !important;}


#post_job .JobType .help {
    display: block;
    position: absolute;
    right: -315px;
    width: 285px;
    background-color: #f6f4f9;
    font-family: "Open Sans";
    padding: 25px 40px;
    color: #6a5d7e;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
    top: 0px;
}
#post_job .JobType .help b {
    font-weight: 600;
    font-size: 16px;
}
#post_job .JobType .help p {
    margin-top: 20px;
    position: relative;
}
#post_job .JobType .help p i {
    position: absolute;
    left: -20px;
    color: #08b39c;
    top: 2px;
}
#post_job .JobType .help .example {
    background: #9f92b1;
    color: white;
    font-size: 15px;
    text-align: center;
    margin: -25px -40px;
    margin-top: 20px;
    padding: 12px;
    cursor: pointer;
    border-radius: 0px 0px 8px 8px;
}
#post_job .JobType .help .shape {
    position: absolute;
    top: calc(50% - 24px);
    border: 22px solid transparent;
    border-right-color: #f6f4f9;
    border-left: 0;
    left: -22px;
}


#post_job .Salary {
    background-image: url("img/Salary.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
#post_job .Benefit input {
    background-image: url("img/Benefit.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
#post_job .Benefit p {
    color: #9f92b1;
    font-size: 14px;
    font-family: "Open Sans";
    margin-top: 4px;
}
#post_job .Benefit p b {font-weight: 600;}
#post_job .Benefit.right p {text-align: right;}
#post_job .btns {
    margin: 0px 5px;
}   
#post_job .upload_file--buttons {
    padding: 0px 10px;
}


#post_job .JobDescAbout {
    color: #9f92b1;
    font-size: 15px;
    margin: 5px 0px;
    font-family: "Open Sans";
}
#post_job .JobTypePlaceholder {
    position: absolute;
    margin-bottom: -20px;
}
#post_job #Kind.default {
    color: #d1c7df;
}
#post_job #Kind.default option {
    color: black;
}
#post_job input[type='text'], #post_job input[type='email'], #post_job input[type='password'] {
    font-size: 16px;
    width: 600px;
    margin: 0;
    padding: 5px 0 12px 0;
    color: #433b50;
    border: none;
    border-bottom: 1px solid #cdc6d5;
}
#post_job select {
    font-size: 16px;
    margin: 0;
    padding: 5px 0 12px 0;
    color: #433b50;
    border: none;
    border-bottom: 1px solid #cdc6d5;
}
#postjobVideo, .postjobImage {
    display: none;
}
.upload-button
{
    font-size: 40px;
    line-height: 165px;

    display: block;
    float: left;

    width: 290px;
    max-height: 169px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;

    cursor: pointer;
    text-align: center;

    color: #f2415f;
    border: 2px dashed #ddd6e8;
    border-radius: 5px;
    background: #f6f4f9;
    background: #f6f4f9;
    overflow: hidden;
}
.upload-button img {
    width: inherit;
    border-radius: 5px;
    height: inherit;
}
.upload-button:nth-child(2n) {
    margin-left: 12px !important;
}
.upload-button#postjobVideo-label, #postJobUploadedFilesVideo {
    width: 100%;
    height: 327px;
    max-height: 327px;
    font-size: 46px;
    line-height: 300px;
}
.upload-button#postjobVideo-label span {
    font-family: "Open Sans";
    font-size: 15px;
    color: #9f92b1;
    display: block;
    margin-top: -120px;
    line-height: 25px;
}

div#postJobUploadedFilesVideo {
    position: absolute;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 12px;
    padding: 0;

    width: 600px;
    height: 327px;
    max-height: 327px;
    overflow: hidden;

    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 190px;
    z-index: 0;
}
#videoFile {
    width: 100%;
}
#videoFile .video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#videoFile video {
    width: 100%;
    height: 100%;
    border-radius: inherit;

}
.subsidiaryVideo-preview-buttons
{
    font-size: 18px;
    line-height: 35px;
    position: absolute;
    top: calc(50% - 17px);
    left: calc(50% - 40px);
    color: #fff;
    border-radius: 20px;
    background: #f2415f;
}
.subsidiaryVideo-preview-button
{
    float: left;

    padding: 0 15px;

    cursor: pointer;
}
.subsidiaryVideo-preview-button:first-child
{
    padding-right: 10px;
}
.subsidiaryVideo-preview-button.editor label
{
    cursor: pointer;
}
.subsidiaryVideo-preview-button.deleter a
{
    color: #fff;
}
.subsidiaryVideo-preview-button.editor:hover,
.subsidiaryVideo-preview-button.deleter a:hover
{
    color: #000;
}
.subsidiaryVideo-preview-button:last-child
{
    padding-left: 10px;
}
#postJobUploadedFilesVideo {position: relative;}
#postJobUploadedFilesVideo .help {
    font-size: 15px;
    padding: 20px;
    background: rgba(49, 43, 58, 0.5);
    position: absolute;
    font-family: "Open Sans";
    color: white;
    line-height: 1.5;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}
#postJobUploadedFilesVideo .duration {
    width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 32px;
}
#postJobUploadedFilesVideo .duration .selector {
    position: absolute;
    left: calc(50% - 75px);
    bottom: 0px;
    width: 150px;
    color: white;
    background: #f2415f;
    border-radius: 200px;
    text-align: center;
    font-size: 18px;
    line-height: 2;
    cursor: pointer;
    z-index: 1000;
}

#postJobUploadedFilesVideo .duration .selector > span {
    margin: 0px 20px;
}
#postJobUploadedFilesVideo .duration .selector i {
    padding: 0px !important;
    font-size: 22px;
}

#postJobUploadedFilesVideo .duration .field {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -15px;
    top: 0px;
    z-index: 1;
    cursor: pointer;
}

#postJobUploadedFilesVideo .duration .time {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    padding: 8px;
    font-size: 16px;
    font-family: "Open Sans";
    text-align: right;
    background: rgba(49, 43, 58, 0.5);
    color: white;
    line-height: 1;
    font-weight: 100;
    border-radius: 0px 0px 10px 10px;
}
#postJobUploadedFilesVideo .duration .time b {font-weight: 600;}

#postJobUploadedFilesVideo .play {
    position: absolute;
    bottom: 40px;
    right: 10px;
    width: 60px;
    height: 60px;
    left: initial;
    top: initial;
    background-image: url("img/play_video_10.png");
    background-repeat: no-repeat;
    background-position: center;
}

select#Kind
{
    margin-top: 20px;
    width: 100%;
}
select.half.right {
    margin-left: 20px !important;
}
input[type='text'].half, select.half {
    width: 290px !important;
}
#job-post-form .half {
    margin-top: 0 !important;
}
#job-post-form #Sallary,
#job-post-edit-form #EditSallary
{
    margin-top: 45px;

    background-image: url('img/sallary.png');
    background-repeat: no-repeat;
    background-position: right center;

    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
            appearance: none!important;
}
#job-post-form input[type='text'].date,
#job-post-edit-form input[type='text'].date
{
    margin-top: 25px;

    background-image: url('img/date.png');
    background-repeat: no-repeat;
    background-position: right center;
}
#job-post-form div.half,
#job-post-edit-form div.half
{
    display: inline-block;
    width: 290px;
}
#job-post-form div.half.right input[type='text'].half.right,
#job-post-edit-form div.half.right input[type='text'].half.right
{
    margin-left: 0;
}
#job-post-form input[type=checkbox],
#job-post-edit-form input[type=checkbox]
{
    display: none;
}
#job-post-form input[type=checkbox] + label:before,
#job-post-edit-form input[type=checkbox] + label:before
{
    font-family: FontAwesome;
    font-size: 20px;
    line-height: 16px;

    display: inline-block;

    margin-top: 15px;
    margin-right: 10px;
    padding: 0;
}
#job-post-form input[type=checkbox] + label:before,
#job-post-edit-form input[type=checkbox] + label:before
{
    content: '\f14a';

    color: #d1c7df;
    border-radius: 3px;
    background-color: #d1c7df;
}
#job-post-form input[type=checkbox]:checked + label:before,
#job-post-edit-form input[type=checkbox]:checked + label:before
{
    content: '\f14a';

    color: #08b39c;
    background-color: #fff;
}

#job-post-form input[type=checkbox].week-days,
#job-post-edit-form input[type=checkbox].week-days
{
    display: none;
}
#job-post-form input[type=checkbox].week-days + label:before,
#job-post-edit-form input[type=checkbox].week-days + label:before
{
    font-family: FontAwesome;
    font-size: 16px;
    line-height: 16px;

    display: inline-block;

    margin-top: 0;
    margin-right: -10px;
    padding: 8px 10px;

    cursor: pointer;

    border-radius: 50%;
}
#job-post-form input[type=checkbox].week-days + label:before,
#job-post-edit-form input[type=checkbox].week-days + label:before
{
    content: '\f00d';

    color: #fff;
    background-color: #f2415f;
}
#job-post-form input[type=checkbox].week-days:checked + label:before,
#job-post-edit-form input[type=checkbox].week-days:checked + label:before
{
    padding: 8px 8px;

    content: '\f00c';

    color: #fff;
    background-color: #08b39c;
}

#job-post-form li.availability-list-item,
#job-post-edit-form li.availability-list-item
{
    float: left;

    width: 33px;
    margin-right: 25px;
}
#job-post-form h2.day,
#job-post-edit-form h2.day
{
    font-size: 15px;
    font-weight: 400;

    padding-bottom: 5px;

    text-align: center;

    color: #d1c7df;
}
#job-post-form .buttons,
#job-post-edit-form .buttons
{
    margin-top: 60px;
    padding: 50px 0;

    border-top: 1px solid #f6f4f9;
}
#job-post-form .button-cv-transperent,
#job-post-edit-form .button-cv-transperent
{
    float: right;

    margin-left: 20px;

    color: #f2415f;
    border: 2px solid #f2415f;
    background: transparent;
}
#job-post-form .button-cv,
#job-post-edit-form .button-cv
{
    width: 170px;
    padding-right: 0;
    padding-left: 0;

    text-align: center;
}
#job-post-form video,
{
    width: 100%;    
    border-radius: 8px;
    height: 100%;
    max-height: 340px;
}
#Schedule {
    /* Initially we don't want any height, and we want the contents to be hidden */
    max-height: 0;
    overflow: hidden;

    /* Set our transitions up. */
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
}
#Schedule.expanded {
    /* On hover, set the max-height to something large. In this case there's an obvious limit. */
    max-height: 200px;
}
/*---------------------JOB POST END----------------------*/
.loading-wrapper {
    height: 300px;
}